#tabs-tabbar-container {
	background: linear-gradient(#e0e6ed,#d2d8df);
}
#tabs-container {
	border-bottom: 1px solid #c8cbcc;
}
.tab.active {
	border-left: 1px solid #c8cbcc;
	border-top: 1px solid #c8cbcc;
	border-right: 1px solid #c8cbcc;
}
.mainbar {
	border-bottom-color: #c8cbcc;
}
.UrlBar-AddressField,.UrlBar-SearchField {
	border-color: #c8cbcc;
}