#tabs-tabbar-container {
	background: linear-gradient(#e6eef5,#d8e0e6);
}
#tabs-container {
	border-bottom: 1px solid #ffffff;
}
.mainbar {
	border-bottom-color: #b4c1cc;
}
.UrlBar-AddressField,.UrlBar-SearchField {
	border-width: 0px;
}